<% unless current_user&.username == direct_message.channel_name%>
  <div class="row filterDiscussions all read single">
    <div class="col-2">
      <i class="material-icons">person</i>
    </div>
    <div class="col-8">
      <% if current_user.present? %>
        <% channel_name = (direct_message.channel_name.strip.split(",")).select {|a| a!=current_user.username}.join %>
      <% else %>
        <% channel_name = (direct_message.channel_name.strip.split(",")).select {|a| a == user.username}.join %>
      <% end %>
      <%= link_to channel_name, channel_path(id: direct_message.id, last_read_at: Time.now), id: "direct_message_#{direct_message.id}_#{@current_user&.id}", data: { channel_id: direct_message.id, user_id: @current_user&.id } %>
    </div>
    <% msg_count = direct_message.messages.where('created_at > ? AND user_id != ?', direct_message.last_read[user.id.to_s]&.to_time, user.id).count %>

    <%= turbo_stream_from "broadcast_#{direct_message.id}_#{user.id}" %>
    <div class="col-1">
      <%= render partial: 'partials/message_count', locals: { channel: direct_message, msg_count: , current_user: user } %>
    </div>
  </div>
<% end %>


