development:
  adapter: postgresql
  encoding: unicode
  database: my_database_development
  pool: 5
  username: postgres
  password: PASSWORD
  host: localhost
test:
  adapter: postgresql
  database: my_database_test
  pool: 5
  timeout: 5000

production:
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: localhost
  database: chatdb
  username: postgres
  password: chatDb
